body {
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  border: 1px dotted black;
}

/* Navigation Top*/
nav {
  height: 4rem;
}

.brand {
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}

.brand img {
  width: 2rem;
}

.brand a {
  font-size: 1.5rem;
}

ul {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

li {
  font-size: 1.5rem;
  list-style-type: none;
  margin-left: 1rem;
}

/* Jumbotron */

.jumbotron img {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

/* Main */
.main {
  border: 1px dotted black;
}

/* Start Learning */
.learning {
  border: 1px dotted black;
}

/* Thesis Exhibit */
.exhibit {
  border: 1px dotted black;
}

/* Footer */
footer {
  border: 1px dotted black;
}
