body {
  font-size: 16px;
  line-height: 1.2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 2rem;
  color: rgb(251, 227, 212);
}

h2 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 32px 0 32px 0;
  text-align: center;
  color: rgb(251, 230, 212);
}

h3 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  color: rgb(208, 173, 152);
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: .85rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgb(208, 173, 152);
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
}

a {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  color: rgb(92, 124, 126);
}

/* Navigation Top*/
nav.container{
  height: 4rem;
  background-color: rgb(251, 230, 212);
  position: fixed;
  z-index: 5;
  width: 100%;
}

nav.mobile {
  display: none;
}

nav a {
  text-decoration: none;
}

.brand {
  font-family: 'Source Serif Pro', serif;
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}

.brand img {
  width: 2rem;
}

.brand a {
  font-size: 1.5rem;
}

ul {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

li {
  font-family: 'Playfair Display SC', serif;
  font-size: 1rem;
  list-style-type: none;
  margin-left: 1rem;
}

/* Jumbotron */

.jumbotron {
  padding-top: 4rem;
  background-color: rgb(70, 113, 102);
}

.jumbotron img {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.start {
  width: 35%;
  margin-right: 32px;
}

.start p {
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(13, 74, 77);
  text-align: center;
  width: 100%;
  height: 2rem;
}

.button a {
  font-size: 1rem;
  color: rgb(251, 230, 212);
  text-decoration: none;
}

/* Main */

.main {
  background-color: rgb(173, 138, 107);
  display: flex;
  padding-bottom: 2rem;
}

.main-blurb {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.main-blurb img {
  width: 100%;
  height: auto;
}

.main-blurb p {
  margin-bottom: 1rem;
}

.information {
  width: 40%;
  height: 100%;
}

.information-mobile {
  display: none;
}

.info {
  margin-top: 2rem;
  display: flex;
  background-color: rgb(208, 178, 152);
}

.info .picture {
  width: 35%;
  height: auto;
  margin: 16px;
  overflow: hidden;
}

.info img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info .text {
  width: 65%;
  height: auto;
  display: block;
  line-height: 1.5rem;
}


/* Start Learning */
.learning {
  background-color: rgb(173, 132, 107);
  display: flex;
  flex-direction: column;
}

.learning h3 {
  padding-top: 32px;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 56px 32px 56px;
}

.grid-mobile {
  display: none;
}

.course {
  width: 30%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 98, 74);
}

.course-picture {
  display: block;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.course img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-text {
  height: 8rem;
  padding: 1rem 1rem 2rem 1rem;
}

/* Thesis Exhibit */
.exhibit {
  background-color: rgb(173, 138, 107);
  display: block;
}

.exhibit-contents {
  display: flex;
}

.video-blurb {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 24px 24px 24px;
}

video {
  width: 100%;
}

.thesis-column {
  width: 40%;
  height: 100%;
}

.thesis {
  display: flex;
  background-color: rgb(208, 178, 152);
  margin: 16px;
}

.thesis img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.thesis-info {
  padding-top: 2rem;
}

/* Footer */
footer {
  background-color: rgb(92, 124, 126);
  padding: 1.5rem;
}

footer a {
  color: rgb(251, 230, 212);
  margin-left: 1rem;
}

footer p {
  color: rgb(251, 230, 212);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  nav.container {
    display: none;
  }

  nav.mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
  }

  nav.mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
  }

  .jumbotron img {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }

  .jumbotron .start {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem 2rem 1rem;
    align-items: center;
  }

  .main-blurb {
    display: none;
  }

  .information {
    display: none;
  }

  .information-mobile {
    display: flex;
    flex-direction: column;
  }

  .info-mobile-pic {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    margin: 1rem;
  }

  .info-mobile-pic img {
    width: 100%;
    height: auto;
  }

  .info-mobile-text {
    max-width: 100%;
    margin: 1rem 1rem 4rem 1rem;
    text-align: center;
  }

  .grid {
    display: none;
  }

  .grid-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .course-mobile {
    width: 100%;
    margin: .5rem;
    background-color: lightgrey;
  }

  .course-mobile a {
    margin: 1rem 1rem 1.5rem 1rem;
  }

  .thesis-column {
    display: none;
  }

  .exhibit-contents {
    width: 100%;
  }

  .video-blurb {
    width: 100%;
  }

  footer nav {
    display: none;
  }

  footer p {
    margin: 1rem;
  }
}
