body {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted black;
}

/* Navigation Top*/
nav.container{
  height: 4rem;
}

nav.mobile {
  display: none;
}

.brand {
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}

.brand img {
  width: 2rem;
}

.brand a {
  font-size: 1.5rem;
}

ul {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

li {
  font-size: 1.5rem;
  list-style-type: none;
  margin-left: 1rem;
}

/* Jumbotron */

.jumbotron img {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  background-color: grey;
  text-align: center;
  width: 100%;
  height: 2rem;
}

.button a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.start {
  border: 1px dotted blue;
  margin-right: 32px;
}

/* Main */
.main {
  display: flex;
  border: 1px dotted black;
}

.main-blurb {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.main-blurb img {
  width: 100%;
  height: auto;
}

.main h2 {
  margin-bottom: 1.5rem;
}

.information {
  border: 1px dotted red;
  width: 40%;
  height: 100%;
}

.information-mobile {
  display: none;
}

.info {
  border: 1px solid pink;
  display: flex;
}

.info .picture {
  width: 35%;
  height: auto;
  margin: 16px;
  overflow: hidden;
  border: 1px dotted blue;
}

.info img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info .text {
  width: 65%;
  height: auto;
  display: block;
  line-height: 1.5rem;
}


/* Start Learning */
.learning {
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
}

.learning h2 {
  text-align: center;
  margin-top: 32px;
  width: 100%;
  border: 1px dotted blue;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 32px 56px 32px 56px;
}

.grid-mobile {
  display: none;
}

.course {
  width: 30%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

.course-picture {
  display: block;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.course img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-text {
  height: 60%;
  margin: 1rem 1rem 1.5rem 1rem;

}
/* Thesis Exhibit */
.exhibit {
  border: 1px dotted black;
  display: block;
}

.exhibit h2 {
  text-align: center;
  margin: 32px 0 32px 0;
}

.exhibit-contents {
  display: flex;
}

.video-blurb {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 24px 24px 24px;
}

video {
  width: 100%;
}

.thesis-column {
  width: 40%;
  height: 100%;
  border: 1px dotted red;
}

.thesis {
  border: 1px solid pink;
  display: flex;
}

.thesis img {
  width: 35%;
  height: auto;
  margin: 16px;
}

/* Footer */
footer {
  border: 1px dotted black;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  nav.container {
    display: none;
  }

  nav.mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
  }

  nav.mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
  }

  .jumbotron img {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }

  .jumbotron .start {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem 2rem 1rem;
    align-items: center;
  }

  .main-blurb {
    display: none;
  }

  .information {
    display: none;
  }

  .information-mobile {
    display: flex;
    flex-direction: column;
  }

  .info-mobile-pic {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    margin: 1rem;
    border: 1px solid blue;
  }

  .info-mobile-pic img {
    width: 100%;
    height: auto;
  }

  .info-mobile-text {
    max-width: 100%;
    margin: 1rem 1rem 4rem 1rem;
    text-align: center;
  }

  .grid {
    display: none;
  }

  .grid-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .course-mobile {
    width: 100%;
    margin: .5rem;
    background-color: lightgrey;
  }

  .course-mobile a {
    margin: 1rem 1rem 1.5rem 1rem;
  }

  .thesis-column {
    display: none;
  }

  .exhibit-contents {
    width: 100%;
  }

  .video-blurb {
    width: 100%;
  }
}
